GEMINI_API_KEY=your_key_here
RULES_PATH=../Rules/calibration/coa_rules_calibrated.json
SCORING_RUBRIC_PATH=../Rules/scoring_rubric.json
LLM_PROMPT_PATH=../Rules/llm_prompt_template.txt
ENABLE_LLM=false
